<div class="container">
	<div class="row pt-3">
		<div class="col-md-12">
			<h3>
				{{title}}
			</h3>
		</div>
	</div>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
    <div class="feature col">
      <h2>Minificar</h2>
      <p>Genera una versión reducida del JS, eliminando saltos de línea, espacios en blanco y sustituyendo nombres de variables.</p>
      <a href="/minificar" class="icon-link d-inline-flex align-items-center">
        Minificar
      </a>
    </div>
    <div class="feature col">
      <h2>Ofuscar</h2>
      <p>Genera una versión protegida del JS dificil de leer, comprender y modificar sin autorización.</p>
      <a href="/ofuscar" class="icon-link d-inline-flex align-items-center">
        Ofuscar
      </a>
    </div>
  </div>
</div>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-muted"><a href="https://github.com/marcosesperon">ME</a> - <a href="https://nodejs.org/">NodeJS</a> & <a href="https://github.com/twbs/bootstrap">Bootstrap</a></span>
    </div>
  </footer>
</div>

</body>
</html>