<div class="container">
	<div class="row pt-3">
		<div class="col-md-12">
			<h3>
				Minificar JS
			</h3>
		</div>
	</div>
  <form>
    <fieldset id="fieldset">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <textarea class="form-control" rows="12" id="code">console.log('Hola!');</textarea>
            </div>
            <div class="col-md-6">
              <textarea class="form-control" rows="12" id="resultado"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 d-grid gap-2">
          <button type="button" class="btn btn-primary mt-3" id="procesar" data-url="minificar">
            Procesar
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-muted"><a href="https://github.com/marcosesperon">ME</a> - <a href="https://github.com/terser/terser">Terser</a></span>
    </div>
  </footer>
</div>

</body>
</html>